xiaomi_aqara_key: ""
xiaomi_aqara_mac: ""
latitude: 50
longitude: 50
ilife_vacuum_command_on: ''
ilife_vacuum_command_off: ''
living_room_light_command_on: ''
living_room_light_command_off: ''
hall_light_command_on: ''
hall_light_command_off: ''
bathroom_light_command_on: ''
bathroom_light_command_off: ''
dining_table_light_command_on: ''
dining_table_light_command_off: ''
api_password: ""
external_url: "https://example.com"
deluge_username: ""
deluge_password: ""
